<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AX ARIF 001</title>

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./registion.css" />
    <link rel="stylesheet" href="style/components/header.css" />

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style/style.css" />
    <link rel="stylesheet" href="style/utlati.css" />
    <link rel="stylesheet" href="./style/components/hero.css" />
    <link rel="stylesheet" href="./style/components/project.css" />
    <link rel="stylesheet" href="./style/components/About.css" />
    <link rel="stylesheet" href="./style/components/last.css" />
    <link rel="stylesheet" href="./last.css" />
  </head>

  <body>
    <button
      style="
        width: 250px;
        height: 50px;
        color: blue;
        font-weight: 800;
        font-size: 30px;
        background-color: hotpink;
        border-radius: 2px;
        border: 2px solid red;
      "
    >
      <a href="/index.html">HOME</a>
    </button>

    <form class="arif" action="" method="post" id="form">
      <div class="container">
        <h1>Registration Form</h1>

        <br />

        <div class="form-control">
          <label for="usename">usename</label>
          <input type="text" id="usename" placeholder="enter your usename" />
          <small>error</small>
        </div>

        <div class="form-control">
          <label for="email">email</label>
          <input type="text" id="email" placeholder="enter your email" />
          <small>error</small>
        </div>

        <div class="form-control">
          <label for="password">password</label>
          <input type="text" id="password" placeholder="enter your password" />
          <small>error</small>
        </div>

        <div class="form-control">
          <label for="password">conform password</label>
          <input type="text" id="password2" placeholder="conform  password" />
          <small>error</small>
        </div>

        <button class="btn">
          <h5>submit</h5>
        </button>
      </div>
    </form>

    <script src="index.js"></script>

    <link rel="stylesheet" href="style.css" />

    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
  </body>
</html>
